@import url('https://fonts.googleapis.com/css?family=Roboto');

$font-family-base:            "Roboto" !default;
$font-size-base:              0.9rem; // Assumes the browser default, typically `16px`
$primary:                     #34495e;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

